<!doctype html>
<html lang="cs">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">

	@yield(base)

	<title>Luštěniny</title>
	<meta name="description" content="Šifrovací hra">
	<meta property="og:image" content="images/fb-share-image.jpg" />
	<meta property="og:image:type" content="image/jpg">
	<meta property="og:image:width" content="1024">
	<meta property="og:image:height" content="1024">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/lusteniny.min.css">
	<link rel="stylesheet" href="css/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

	<script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
	<script type="text/javascript">Loader.load(null, { api: "simple" })</script>
</head>

<body data-spy="scroll" id="body">
	<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-secondary shadow-box fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<img src="images/logo-lusteniny.svg" height="40px" alt="Luštěniny">
			</a>
			<button class="navbar-toggler border-0" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="fas fa-bars text-light " style="font-size: 2rem;"></span>
			</button>
			<div class="collapse navbar-collapse " id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto text-center">
					<li class="nav-item">
						<a class="nav-link" href="#about">Úvod </a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" id="navbarDropdown" role="button" href="#" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Minulé Ročníky <i class="fas fa-caret-down ml-1"></i>
						</a>
						<div class="dropdown-menu border-0 text-center" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="lusteniny3">Luštěniny III.</a>
							<a class="dropdown-item" href="lusteniny2">Luštěniny II.</a>
							<a class="dropdown-item" href="lusteniny1">Luštěniny I.</a>
						</div>
					</li>
					<li class="nav-item d-none d-lg-inline">
						<a class="nav-link" href="https://www.facebook.com/lusteniny">
							<span class="fab fa-facebook-square"></span>
						</a>
					</li>
					<li class="nav-item d-none d-lg-inline">
						<a class="nav-link" href="https://www.m.me/lusteniny/">
							<span class="fab fa-facebook-messenger"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="offcanvasMenu" class="offcanvas">
		<i class="offcanvas-close fas fa-times" onclick="closeOffCanvas()" role="button"></i>
		<div class="offcanvas-overlay"></div>
		<div class="offcanvas-content container text-center py-5">
			<div class="rounded">
				<header class="pt-4 rounded-top">
					<h2>Zimní Luštěniny</h2>
					<hr class="bg-primary mx-auto">
				</header>
				<p>
					Zimní edice luštěnin je tady. Tentokrát na Zlinském zámku!</p>
				<p>
					Tato speciální edice luštěnin bude mít omezený počet účastníků - <b>pouze 10</b> týmu bude mít
					možnost se registrovat. <br>
					Opět na vás bude čekat nová várka šifer, tentokrát zaměřená právě na místo konání - zlínský
					zámek.
				</p>
				<p>
					Dále se můžete těšit na exkluzivní atmosféru, kterou pro vás pečlivě připravujeme.
					A jelikož se vše odehrává ve vnitř zámku, nemusíte se tentokrát obávat ani nepříznivého počasí.
				</p>
				<div class="row">
					<div class="col-4">
						<i class="fas fa-calendar-day icon"></i>
						<div><b>6. Února 2021</b></div>
					</div>
					<div class="col-4">
						<i class="fas fa-users icon"></i>
						<div>
							<b>Pouze 10 týmů</b>
						</div>
					</div>
					<div class="col-4">
						<i class="fas fa-map-marked-alt icon"></i>
						<div>
							<b>Zámek Zlín <br>
								Soudní 1, 760 01 Zlín
							</b>
						</div>
					</div>
				</div>

				<button class="btn btn-facebook mt-4 shadow-box"><i class="fab fa-facebook-square pr-2"></i>Událost na
					facebooku</button>
				<map id="map" name="map" class="border shadow-box mt-4 rounded"></map>
				<script type="text/javascript">
					var point = SMap.Coords.fromWGS84(17.6631863, 49.2255077);
					var m = new SMap(JAK.gel("map"), point, 16);
					m.addMarker(point);
				</script>
				<button class="btn btn-lg btn-primary btn-block mt-4 shadow-box"
					onclick="closeOffCanvas()">Zavřít</button>

			</div>
		</div>


	</div>

	@yield(content)

	<button id="bottom-button" class="btn btn-bottom btn-primary btn-lg pt-3 rounded-top shadow-box"
		onclick="openOffCanvas()">Zimní Luštěniny
		!</button>

	<footer class="footer  text-center py-4 mt-6">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4 text-center py-2">
					<h4>Luštěniny</h4>
					<hr class="bg-primary mx-auto">
					<nav>
						<a class="nav-link text-dark px-0" href="./#about">Úvod</a>
						<a class="nav-link text-dark px-0" href="./#about">O co jde</a>
						<a class="nav-link text-dark px-0" href="./#gallery">Minulé ročníky</a>

					</nav>
				</div>
				<div class="col-12 col-md-4 text-center py-2">
					<h4>Minulé Ročníky</h4>
					<hr class="bg-primary mx-auto">
					<nav>
						<a class="nav-link text-dark px-0" href="lusteniny3">Luštěniny III.</a>
						<a class="nav-link text-dark px-0" href="lusteniny2">Luštěniny II.</a>
						<a class="nav-link text-dark px-0" href="lusteniny1">Luštěniny I.</a>
					</nav>
				</div>
				<div class="col-12 col-md-4 text-center py-2">
					<h4>Sponzoři</h4>
					<hr class="bg-primary mx-auto">
					<nav>
						<a class="nav-link text-dark px-0" href="https://zivy-zlin.cz/">Živý Zlín</a>
						<a class="nav-link text-dark px-0" href="https://www.cngroup.dk/">CN Group</a>
					</nav>
				</div>
			</div>
		</div>
		<div class="mt-4">
			<small>
				© 2020 Luštěniny
			</small>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="js/lusteniny.js"></script>
</body>

</html>