---
import { Icon } from "../atoms";
---

<section
  class="relative z-20 bg-gradient-to-br from-green-500 to-green-600 py-16 shadow-lg shadow-green-600/20"
  id="info"
>
  <div class="container mx-auto px-4">
    <div class="grid gap-16 md:grid-cols-2">
      <div>
        <h2 class="mb-6 text-2xl font-bold text-white sm:text-3xl md:text-4xl">
          Lu코t캩niny 2024
        </h2>
        <p class="mb-4 font-medium leading-relaxed text-green-50 sm:text-lg">
          A je to venku, t칤mto bychom r치di ofici치ln캩 ozn치mili, 쬰 <strong
            >7. ro캜n칤k Lu코t캩nin</strong
          > je venku.
        </p>
        <p class="mb-4 font-medium leading-relaxed text-green-50 sm:text-lg">
          T칠ma ani m칤sto V치m je코t캩 neprozrad칤me, ale m콢쬰te po캜칤tat s t칤m, 쬰 se
          코ifrova캜ka op캩t bude konat v centru Zl칤na, i kdy V치s mo쬹치 zavede na
          doposud nenav코t칤ven치 m칤sta. V코e se v캜as dozv칤te, ale te캞 si
          zarezervujte term칤n a t캩코te se s n치mi! 游뗵
        </p>
        <p class="mb-4 font-semibold leading-relaxed text-green-50 sm:text-lg">
          Kdy a kde se potk치me? Sejdeme se v sobotu <strong
            >8. 6. 2024 v 14:00</strong
          >. <br />
          Na m칤st캩, kter칠 se v캜as dozv칤te.
        </p>
      </div>
      <form action="" class="rounded-lg bg-white p-8 text-center shadow-lg">
        <h3
          class="mb-6 text-xl font-semibold text-gray-900 sm:text-2xl md:text-2xl"
        >
          Registruj sv콢j t칳m
        </h3>
        <p class="mb-8 text-center leading-relaxed text-gray-700 sm:text-lg">
          Sv콢j t칳m m콢쬰코 registrovat naps치n칤m koment치콏e s n치zvem t칳mu a po캜tem
          캜len콢 na facebookov칠 ud치losti, nebo n치m m콢쬰코 napsat email.
        </p>

        <a
          href="https://www.facebook.com/events/2522505537954709/"
          target="_blank"
          rel="noopener noreferrer"
          class="mb-3 flex items-center justify-center gap-3 rounded-lg bg-gradient-to-r from-blue-500 to-blue-600 px-6 py-3 font-semibold text-white shadow shadow-blue-600/20"
        >
          <span>Registrovat se na facebookov칠 ud치losti</span>
          <Icon icon="facebook" className="h-5" />
        </a>

        <a
          href=" mailto:info@lusteniny.eu?subject=Registrace%20t%C3%BDmu%20na%20Lu%C5%A1t%C4%9Bniny%202024&body=Dobr%C3%BD%20den%2C%0D%0A%0D%0Acht%C4%9Bli%20bychom%20registrovat%20sv%C5%AFj%20t%C3%BDm%20na%20ud%C3%A1losti%20Lu%C5%A1t%C4%9Bniny%202024%20(08.06.2023).%0D%0A%0D%0AN%C3%A1zev%20t%C3%BDmu%3A%20_____%0D%0APo%C4%8Det%20%C4%8Dlen%C5%AF%3A%20_____%0D%0A "
          target="_blank"
          rel="noopener noreferrer"
          class="mb-4 flex items-center justify-center gap-3 rounded-lg bg-gradient-to-r from-green-500 to-green-600 px-6 py-3 font-semibold text-white shadow shadow-green-600/20"
        >
          <span>Registrovat se emailem</span>
          <Icon icon="mail" className="h-5" />
        </a>
        <small class="text-sm text-gray-700">
          (P콏ihl치코en칤 lze prov칠st i na m칤st캩, ale vzhledem k n치ro캜nosti p콏칤prav
          v치s pros칤me o p콏ed캜asnou registraci )
        </small>
      </form>
    </div>
  </div>
</section>
