---
import { Icon } from "../atoms";
import type { IconType } from "../atoms/Icon";

const links: Link[] = [
  {
    icon: "mail",
    href: "mailto:info@lusteniny.eu",
    text: "Email - info@lusteniny.eu",
  },
  {
    icon: "messenger",
    href: "https://www.m.me/lusteniny/",
    text: "Messenger - @lusteniny",
  },
  {
    icon: "facebook",
    href: "https://www.facebook.com/lusteniny",
    text: "Facebook - @lusteniny",
  },
  {
    icon: "instagram",
    href: "https://www.instagram.com/lusteninyzlin",
    text: "Instagram - @lusteninyzlin",
  },
];

type Link = {
  icon: IconType;
  href: string;
  text: string;
};
---

<section class="relative bg-white to-white py-32" id="kontakt">
  <div class="container mx-auto px-4 sm:px-8 md:px-12">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl lg:text-5xl">Kontakt</h2>
    <p class="mx-auto mb-8 max-w-xl text-center font-medium leading-relaxed text-gray-700 sm:mb-12">
      Chcete se na něco zeptat? Přidejte se k stránce luštěnin na facebooku, kde tvé dotazy rádi zodpovíme. Nebo nás
      kontaktujte přímo.
    </p>
    <nav aria-label="Kontaktní odkazy" class="mx-auto flex w-fit flex-col items-stretch space-y-4 md:text-lg">
      {
        links.map((link) => (
          <a
            target="_blank"
            rel="noopener noreferrer external"
            href={link.href}
            class="flex items-center justify-start gap-4 rounded-lg border-2 border-green-500 px-8 py-3 font-semibold text-green-600 transition duration-300 hover:bg-green-500 hover:text-white"
          >
            <Icon icon={link.icon} className="h-5" />
            <span>{link.text}</span>
          </a>
        ))
      }
    </nav>
  </div>
</section>
