---
import { Icon, type IconType } from "../atoms/Icon";

const features: Feature[] = [
  {
    icon: "route",
    title: "Krátká procházka Zlínem",
    description:
      "Čeká na tebe krátká procházka Zlínem lemovaná stanovišti s šiframi a tvým úkolem bude, jich vyluštit co nejvíc.",
  },
  {
    icon: "marker",
    title: "Stanoviště s šiframi",
    description:
      "Na každém stanovišti na tebe bude čekat jeden z organizátorů, který ti předá zadání a případně pomůže s čím bude potřeba.",
  },
  {
    icon: "pencil",
    title: "Připravené pomůcky",
    description:
      "Před záhájením dostaneš vše, co je potřeba k luštění - propisky, volné papíry dokonce i tahák na šifry.",
  },
  {
    icon: "child",
    title: "Šifry i pro děti",
    description: "Můžeš s sebou vzít i děti, budeme mít připravené šifry a ceny i pro ně.",
  },
  {
    icon: "phone",
    title: "Řešení šifer v telefonu",
    description:
      "Pro účastníky šifrovačky bude připravena webová aplikace, kde bude například možnost šifru odevzat a získat místo dalšího stanoviště.",
  },
  {
    icon: "award",
    title: "Vyhlášení vítězů",
    description:
      "Na konci události tě bude čekat vyhlášení vítězů, předání cen a nějaký ten networking včetně občerstvení.",
  },
];

type Feature = {
  icon: IconType;
  title: string;
  description: string;
};
---

<section class="relative py-32">
  <div class="container mx-auto px-4 sm:px-8 md:px-12">
    <h2 class="mb-12 text-center text-2xl font-medium text-gray-900 sm:mb-20 sm:text-3xl md:text-4xl">
      Co tě bude čekat na
      <span class="font-bold text-green-500">Luštěninách</span>?
    </h2>

    <div class="relative z-20 mx-auto grid max-w-5xl gap-8 md:grid-cols-2 md:gap-16">
      {
        features.map((feature, index) => (
          <div class="flex flex-col items-center gap-4 rounded-lg bg-white p-8 text-center transition duration-300 hover:shadow-sm sm:flex-row sm:items-start sm:gap-8 sm:text-left">
            <div class="">
              <div class="flex h-16 w-16 items-center justify-center rounded-full bg-green-100 text-green-500 sm:mb-6">
                <Icon icon={feature.icon} className="h-7" />
              </div>
            </div>
            <div class="sm:pt-4">
              <h3 class="mb-3 font-extrabold text-gray-800 lg:text-xl">{feature.title}</h3>
              <p class="text-sm leading-relaxed text-gray-700 sm:text-base sm:leading-relaxed">{feature.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
