$primary: #39A236;
$dark: #212844;
$secondary: #2a7527;
$info: blue;
$warning: orange;
$white: #fff;

html, body {
    z-index: 1;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

    @media screen and (min-width: 1100px){
        font-size: 17px;
    }
}

.bg-white {
    background-color: $white;
}

.bg-muted {
    background-color: #6c757d !important;
}

.jumbotron {
    @extend .bg-white;
}

a.anchor {
    display: block;
    position: relative;
    top: -85px;
    visibility: hidden;
}

hr {
    background: $primary;
    height: 3px;
    width: 90px;
    margin: 0.5rem 0;
    border: 0;
}

.shadow-box {
    -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
}

.text-shadow {
    text-shadow: 2px 2px black;
}

.btn {
    &.rounded-bottom {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 3rem !important;
        border-bottom-left-radius: 3rem !important;;
    }

    &.btn-floating {
        position: fixed;
        bottom: 4rem;
        right: 0rem;
        z-index: 100000;
        
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.btn-facebook {
        color: white !important;
        background-color: #3b5998;
    
        &:hover{
            background-color: #2f477a;
        }
    }
}

.bg-gradient-primary {
    background: rgb(57,162,54);
    background: linear-gradient(90deg, rgba(57,162,54,1) 0%, rgba(42,117,39,1) 100%);
}

.navbar {
    transition: all 150ms ease-out;

    &:not(.scrolled) {
        display: none;
        opacity: 0;
    }

    .dropdown-menu {
        background-color: transparent;

        @media screen and (min-width: 992px){
            background: rgb(57,162,54);
            background: linear-gradient(90deg, rgba(57,162,54,1) 0%, rgba(42,117,39,1) 100%);
            -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
            -moz-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
        }
    }

    .nav-link {
        &::after {
            margin-top: 2px;
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: rgba(255,255,255,0.75);
            transition: width 200ms ease-out;
        }

        &:not(.disable-hover):hover::after {
            width: 100%;
        }

        &:not(.active) {
            color: rgba(255,255,255,.75) !important;
        }
    }

    .dropdown-item {
        transition: all 150ms ease-out;
        color: white;

        &::after {
            margin-top: 2px;
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: rgba(255,255,255,1);
            transition: width 200ms ease-out;
        }

        &:hover::after {
            width: 100%;
        }

        &:hover {
            background-color: transparent;
        }
    }
}

.intro {
    height: 100vh;
    color: #fff;
    background-image: url("../images/background-2020-overlay-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;

    img.logo {
        width: 600px;
        margin-bottom: 50px;

        @media only screen and (max-width: 576px){
            width: 80%;
        }
    }

    .btn-intro {
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        text-align: center;
        width: 80px;
        height: 80px;
        
        border: 4px solid #fff;
        border-radius: 50%;
        margin-bottom: 2.5rem;

        i {
            transition: all 200ms linear; 
        }

        &:hover {
            @extend .shadow-box;
            background-color: white;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
    
            i {
                color: $dark;
            }
        }
    }
}
  
.extra-hero {
    height: 106px;
    background-image: url("../images/background-2020-overlay-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.section .section-header hr {
    background: white;
    margin: 0.5rem auto;
}

.section-main .section-header {
    @media screen and (min-width: 576px){ 
        margin-top: -106px;
        position: relative;   
        border-radius: 50rem !important;
    }
}

.section-gallery {
    .card{
        transition: all 150ms linear;
    }

    .card:hover {
        border-color: $primary;
    }
}

.mt-6 {
    margin-top: 6rem;
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.card {
    .card-header:first-of-type{
        border-top-right-radius: 3rem;
        border-top-left-radius: 3rem;
    }

    .card-header:nth-child(6) {
        border-bottom-right-radius: 3rem;
        border-bottom-left-radius: 3rem;

        .btn {
            transition: border-radius 350ms linear;
        }

         .btn[aria-expanded='false'] {
            border-bottom-left-radius: 3rem !important;
            border-bottom-right-radius: 3rem !important;
        }  
    }
}

.offcanvas {
    position: fixed; 
    z-index: 1050; 
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 100vh;
    transition: all 350ms linear;
    height: 100%;
    overflow-y: auto;

    &.open {
        margin-top: 0;

        .offcanvas-overlay {
            z-index: 1049;
            opacity: 1;
            position: fixed;
        }
    }

    &.closing {
        .offcanvas-overlay {
            position: fixed;
        }
    }

    .offcanvas-overlay {
        transition: all 350ms linear;
        z-index: -1049;
        opacity: 0;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/pattern.png");
        
        filter: drop-shadow(0 0 10px white);
    }

    .offcanvas-content {
        z-index: 1051;
        position: relative;
        
    }

    .offcanvas-close {
        top: 2rem;
        right: 3rem;
        font-size: 2rem;
        position: absolute;
        z-index: 1051; 
    }

    map {
        background: #000;
        display: block;
        width: 100%;
        min-height: 30vh;
    }
}

.rounded-right-circle {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;    
}

.btn-bottom {
    position: fixed;
    bottom: 0;
    right: 2rem;
    z-index: 100000;
    display: none;
    opacity: 0;
    transition: 500ms all linear;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &.scrolled {
        display: block;
        opacity: 1 ;
    }
}

.icon {
    transition: all 150ms linear;
    border-radius: 50%;
    padding: 1rem;
    background-color: $white;
    font-size: 1.5rem;
    color: $primary;
    border: 2px solid $primary;
    margin-bottom: 0.5rem;

    &:hover {
        background-color: $primary;
        color: $white;
        border: 2px solid $white;
    }
}