html, body {
  z-index: 1;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 1100px) {
  html, body {
    font-size: 17px;
  }
}

.bg-white, .jumbotron {
  background-color: #fff;
}

.bg-muted {
  background-color: #6c757d !important;
}

a.anchor {
  display: block;
  position: relative;
  top: -85px;
  visibility: hidden;
}

hr {
  background: #39A236;
  height: 3px;
  width: 90px;
  margin: 0.5rem 0;
  border: 0;
}

.shadow-box, .intro .btn-intro:hover {
  -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
}

.text-shadow {
  text-shadow: 2px 2px black;
}

.btn.rounded-bottom {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 3rem !important;
  border-bottom-left-radius: 3rem !important;
}

.btn.btn-floating {
  position: fixed;
  bottom: 4rem;
  right: 0rem;
  z-index: 100000;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}

.btn.btn-facebook:hover {
  background-color: #2f477a;
}

.bg-gradient-primary {
  background: #39a236;
  background: -webkit-gradient(linear, left top, right top, from(#39a236), to(#2a7527));
  background: linear-gradient(90deg, #39a236 0%, #2a7527 100%);
}

.navbar {
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.navbar:not(.scrolled) {
  display: none;
  opacity: 0;
}

.navbar .dropdown-menu {
  background-color: transparent;
}

@media screen and (min-width: 992px) {
  .navbar .dropdown-menu {
    background: #39a236;
    background: -webkit-gradient(linear, left top, right top, from(#39a236), to(#2a7527));
    background: linear-gradient(90deg, #39a236 0%, #2a7527 100%);
    -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
  }
}

.navbar .nav-link::after {
  margin-top: 2px;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgba(255, 255, 255, 0.75);
  -webkit-transition: width 200ms ease-out;
  transition: width 200ms ease-out;
}

.navbar .nav-link:not(.disable-hover):hover::after {
  width: 100%;
}

.navbar .nav-link:not(.active) {
  color: rgba(255, 255, 255, 0.75) !important;
}

.navbar .dropdown-item {
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  color: white;
}

.navbar .dropdown-item::after {
  margin-top: 2px;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width 200ms ease-out;
  transition: width 200ms ease-out;
}

.navbar .dropdown-item:hover::after {
  width: 100%;
}

.navbar .dropdown-item:hover {
  background-color: transparent;
}

.intro {
  height: 100vh;
  color: #fff;
  background-image: url("../images/background-2020-overlay-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}

.intro img.logo {
  width: 600px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 576px) {
  .intro img.logo {
    width: 80%;
  }
}

.intro .btn-intro {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  text-align: center;
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}

.intro .btn-intro i {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.intro .btn-intro:hover {
  background-color: white;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.intro .btn-intro:hover i {
  color: #212844;
}

.extra-hero {
  height: 106px;
  background-image: url("../images/background-2020-overlay-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.section .section-header hr {
  background: white;
  margin: 0.5rem auto;
}

@media screen and (min-width: 576px) {
  .section-main .section-header {
    margin-top: -106px;
    position: relative;
    border-radius: 50rem !important;
  }
}

.section-gallery .card {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.section-gallery .card:hover {
  border-color: #39A236;
}

.mt-6 {
  margin-top: 6rem;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.card .card-header:first-of-type {
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}

.card .card-header:nth-child(6) {
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.card .card-header:nth-child(6) .btn {
  -webkit-transition: border-radius 350ms linear;
  transition: border-radius 350ms linear;
}

.card .card-header:nth-child(6) .btn[aria-expanded='false'] {
  border-bottom-left-radius: 3rem !important;
  border-bottom-right-radius: 3rem !important;
}

.offcanvas {
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 100vh;
  -webkit-transition: all 350ms linear;
  transition: all 350ms linear;
  height: 100%;
  overflow-y: auto;
}

.offcanvas.open {
  margin-top: 0;
}

.offcanvas.open .offcanvas-overlay {
  z-index: 1049;
  opacity: 1;
  position: fixed;
}

.offcanvas.closing .offcanvas-overlay {
  position: fixed;
}

.offcanvas .offcanvas-overlay {
  -webkit-transition: all 350ms linear;
  transition: all 350ms linear;
  z-index: -1049;
  opacity: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/pattern-dark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: drop-shadow(0 0 10px white);
          filter: drop-shadow(0 0 10px white);
}

.offcanvas .offcanvas-content {
  z-index: 1051;
  position: relative;
}

.offcanvas .offcanvas-content .btn-light {
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  background-image: url("../images/pattern-white.png");
}

.offcanvas .offcanvas-content .btn-light:hover {
  -webkit-box-shadow: 0px 0px 64px 18px rgba(255, 255, 255, 0.35);
  box-shadow: 0px 0px 64px 18px rgba(255, 255, 255, 0.35);
}

.offcanvas .offcanvas-content .btn-facebook {
  background-color: #3b5998;
}

.offcanvas .offcanvas-content .btn-facebook:hover {
  -webkit-box-shadow: 0px 0px 64px 18px rgba(255, 255, 255, 0.35);
  box-shadow: 0px 0px 64px 18px rgba(255, 255, 255, 0.35);
}

.offcanvas .offcanvas-content .icon:hover {
  -webkit-box-shadow: 0px 0px 64px 18px rgba(255, 255, 255, 0.35);
  box-shadow: 0px 0px 64px 18px rgba(255, 255, 255, 0.35);
}

.offcanvas .offcanvas-close {
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  position: absolute;
  z-index: 1051;
  background-color: transparent;
}

.offcanvas .offcanvas-close:hover {
  -webkit-box-shadow: 0px 0px 64px 18px rgba(255, 255, 255, 0.35);
  box-shadow: 0px 0px 64px 18px rgba(255, 255, 255, 0.35);
}

.offcanvas map {
  background: #000;
  display: block;
  width: 100%;
  min-height: 30vh;
}

.rounded-right-circle {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.btn-bottom {
  position: fixed;
  bottom: 0;
  right: 2rem;
  z-index: 100000;
  display: none;
  opacity: 0;
  -webkit-transition: 500ms all linear;
  transition: 500ms all linear;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-bottom.scrolled {
  display: block;
  opacity: 1;
}

.icon {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  border-radius: 50%;
  padding: 1rem;
  background-color: black;
  font-size: 1.5rem;
  color: #fff;
  border: 2px solid #fff;
  margin-bottom: 0.5rem;
}

.icon:hover {
  background-color: #fff;
  color: black;
  border: 2px solid black;
}
