body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

h1,
h2 {
    font-weight: bold;
}

p {
    text-align: justify;
}

a {
    color: white;
}

a:hover {
    color:rgb(225,225,225);
    text-decoration: none;
}

#intro img.logo {
    width: 60%;
    margin-bottom: 50px;
}

.container {
    color: gray;
}

    .container h1{
        color: #8dc63f
    }

    .container h2{
        color: #8dc63f
    }

    .container h3{
        color: #8dc63f
    }

    .container h4{
        color: #8dc63f
    }

    .container h5{
        color: #8dc63f
    }

.text-centered-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-intro {
    position: relative;
    text-align: center;
}

#intro {
  height: 100vh;
  color: #fff;
  background-image: url("../images/background-2020.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-odpocet {
    position: relative;
    text-align: center;
    background-color: #8dc63f;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container-lumpici {
    background-color: #8dc63f;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-ocojde {
    padding-top: 60px;
    padding-bottom: 60px;
    color: gray
}

.text-red {
    color: #8dc63f
}

.btn-red {
    background-color: #8dc63f;
}

.btn-white {
    background-color: white;
}

p#countdown {
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
}

.shadow-box {
    -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
    background-color: #FFF;
}

.shadow-box img {
    padding: 20px;
    height: auto;
}

.shadow-box p {
    margin: 0;
    font-weight: bold;
}

.btn {
    margin-top: 1rem;
    transition: all 0.3s ease 0s;
}

.btn-white:hover {
    -webkit-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
}

.btn-red:hover {
    -webkit-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 3px 16px 2px rgba(0, 0, 0, 0.42);
}

.fingerprint {
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.fingerprint-left {
    background-image: url('../images/fingerprint_lite_left.svg');
    background-position: center left;
}

.fingerprint-right {
    background-image: url('../images/fingerprint_lite_right.svg');
    background-position: center right;
}

#finish,
#finish-btn {
    display: none;
}

#lumpici a {
    color: #FFF;
}

/* Fonts sizes*/
h3#finish {
    font-size: 2.5rem;
}

p#countdown {
    font-size: 1.75rem;
}

/* Media queries*/

@media only screen and (min-width: 1100px) {
    h1 {
        font-size: 4rem;
    }

    html {
        font-size: 20px;
    }

    p#countdown {
        font-size: 3rem;
    }
}

.img-box {
    height:10rem;
    width: 10rem;    
    padding: 0.5rem;
}

.gallery img{
    margin-bottom: 16px;
}

.gallery .col{
    padding-right: 8px;
    padding-left: 8px;
}

.img-gallery:hover {
    opacity: 0.65;
    }

.card {
    margin: 0.5rem;
}

.card-body {
    height: 5rem;
}

.img-fit {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#intro h1 {
    margin: 2rem 0;
}

#intro .btn-intro {
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    width: 4em;
    height: 4em;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-bottom: 2rem;
}

#intro .btn-intro i {
    -webkit-transition: border-color 200ms linear;
    transition: border-color 200ms linear;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 20px;
}

#intro .btn-intro:hover {
background-color: white;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#intro .btn-intro:hover i {
    border-color: #000;
}

map {
  background: #000;
  display: block;
  width: 100%;
  min-height: 43vh;
}

map > img {
      opacity: 0.85;
}

map > img:last-child {
      opacity: 1;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse-black 2s infinite;
          animation: pulse-black 2s infinite;
 }


@media only screen and (max-width: 576px){
    #intro img.logo {
        width: 80%;
    }

    .text-location{
        font-size: 1.3rem;
    }

    #intro h1 {
        font-size: 2rem;
        margin: 0 0;
    }

    #intro h4, h5 {
        font-size: 1rem;
    }
}

.example-image-link {
    height: 100%;
    width: 100%;
    padding: 0.05rem;
    object-fit: cover;
}

.text-ref:hover {
    color: rgb(141, 19, 48)
}

.cn-logo {
    width: 10rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}