/* BOX MODEL - nastavíme intuitivnější box model (border-box) */
html { box-sizing: border-box; }
*, *:after, *:before { box-sizing: inherit; }

/*
Bootstrap breakpointy: 576, 768, 992, 1200
sm: (min-width: 576px)
md: (min-width: 768px)
lg: (min-width: 992px)
xl: (min-width: 1200px)
	
Barvy
růžová: #c5308a
světle šedá: #f0f0f0
*/

/* --- pod tuto čáru piš svoje CSS --------------------------------------- */
