---
import Layout from '../components/Layout.astro';
import { ButtonInternalLink } from '../components/atoms/button';
import { settings } from '../settings';
---

<Layout {...settings}>
  <section class="relative bg-gradient-to-b from-blue-50 to-white pb-64 pt-32" id="udalosti">
    <div class="container mx-auto px-4 sm:px-8 md:px-12">
      <h1 class="mb-4 text-center text-2xl font-bold text-slate-900 sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl">
        Stránka nenalezena
      </h1>
      <p class="mb-8 text-center font-medium leading-relaxed text-slate-700">
        Omlouváme se, ale tato stránka nebyla nalezena
      </p>
      <div class="flex justify-center">
        <ButtonInternalLink to="/" text="Zpět na úvodní stránku" variant="green" />
      </div>
    </div>
  </section>
</Layout>
