---
import Container from "@components/atoms/Container.astro";
import Heading from "@components/atoms/Heading.astro";
import { type IconType } from "@components/atoms/Icon";
import { Button } from "@components/atoms/NewButton";
import Layout from "../components/Layout.astro";
import { settings } from "../settings";

const links: Link[] = [
  {
    icon: "mail",
    href: "mailto:info@lusteniny.eu",
    text: "Email - info@lusteniny.eu",
  },
  {
    icon: "messenger",
    href: "https://www.m.me/lusteniny/",
    text: "Messenger - @lusteniny",
  },
  {
    icon: "facebook",
    href: "https://www.facebook.com/lusteniny",
    text: "Facebook - @lusteniny",
  },
  {
    icon: "instagram",
    href: "https://www.instagram.com/lusteninyzlin",
    text: "Instagram - @lusteninyzlin",
  },
];

type Link = {
  icon: IconType;
  href: string;
  text: string;
};
---

<Layout {...settings}>
  <section class="pb-16 text-center">
    <Container>
      <Heading level={1} text="Kontakt" variant="light" />
      <p
        class="mx-auto mt-6 mb-12 max-w-3xl text-lg leading-normal font-medium tracking-wide text-slate-600 md:text-xl md:leading-normal"
      >
        Chcete se na něco zeptat? <br /> Přidejte se k stránce luštěnin na facebooku, kde tvé dotazy rádi zodpovíme. Nebo
        nás kontaktujte přímo.
      </p>

      <nav
        aria-label="Kontaktní odkazy"
        class="mx-auto flex w-fit max-w-4xl flex-wrap items-center justify-center gap-4 md:text-lg"
      >
        {links.map((link) => <Button externalHref={link.href} text={link.text} icon={link.icon} />)}
      </nav>
    </Container>
  </section>
</Layout>
