---
interface Props {
  title: string;
  description: string;
  imageUrl?: string;
  hasAlternativeHeader?: boolean;
}

import '@fontsource-variable/quicksand';
import '../styles/index.css';
import { Header } from './organisms';
import Footer from './organisms/Footer.astro';
import Head from './organisms/Head.astro';
import CallToActionSection from './sections/CallToActionSection.astro';
---

<html lang="cs">
  <Head {...Astro.props} />
  <body class="bg-blue-50">
    <Header client:load isAlternative={Astro.props.hasAlternativeHeader} />
    <main class="bg-blue-50">
      <slot />
      <CallToActionSection />
    </main>
    <Footer />
  </body>
</html>
