---
interface Props {
  title: string;
  description: string;
  imageUrl?: string;
  hasAlternativeHeader?: boolean;
}

import '@fontsource-variable/quicksand';
import '../styles/index.css';
import Footer from './organisms/Footer.astro';
import Head from './organisms/Head.astro';
import { NewHeader } from './organisms/NewHeader';
---

<html lang="cs">
  <Head {...Astro.props} />
  <body class="bg-slate-100">
    <NewHeader client:load />
    <main class="">
      <slot />
    </main>
    <Footer />
  </body>
</html>
