---
interface Props {
  title: string;
  description: string;
  imageUrl?: string;
  hasAlternativeHeader?: boolean;
}

import '@fontsource-variable/quicksand';
import '../styles/index.css';
import { Header } from './organisms';
import Footer from './organisms/Footer.astro';
import Head from './organisms/Head.astro';
---

<html lang="cs">
  <Head {...Astro.props} />
  <body class="bg-slate-100">
    <Header client:load />
    <main class="overflow-hidden py-12 md:py-16 lg:py-20 xl:py-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
