---
interface Props {
  id: string;
  extraClass?: string;
}
---

<section
  class:list={[
    'relative py-12 first-of-type:pt-0 last-of-type:pb-0 md:py-16 lg:py-20 xl:py-24',
    Astro.props.extraClass,
  ]}
  id={Astro.props.id}
>
  <slot />
</section>
